.history {
  width: 100%;
  height: 100%;
  min-height: 90vh;

  padding: 4em 0;

  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: start;
}

.history > h2 {
  margin-top: 0.25em;
  text-align: center;
}

.history > .recap {
  display: flex;
  max-height: 77vh;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  overflow-y: scroll;
  padding: 1em 0;
}

.history > .recap > .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  border-radius: 3em;
  box-shadow: 0 4px 8px var(--secondary-shadow);
  transition: transform 0.3s ease;
  background-color: var(--background-primary);
  color: var(--text-primary);
  text-decoration: none;
  min-height: 5rem;
}

.history > .recap > .card.expanded {
  align-items: center;
  padding: 0.75rem 0;
}

.history > .recap > .card:hover {
  transform: translateY(-0.25em) scale(1.01);
}

.history > .recap > .card svg {
  width: 5em;
  height: 5em;
  border-radius: 50% 0 0 50%;
  padding: 1em;
}

.history > .recap > .card > div {
  display: flex;
  flex-direction: column;
  gap: 0.0125em;
  justify-content: center;
  height: auto;
} 

.history > .recap > .card > div:first-of-type {
  width: 50%;
}

.history > .recap > .card.expanded > div > .message {
  font-weight: 200;
  font-style: italic;
  padding-left: 0.5rem;
  border-left: 0.125rem gray solid;
}

.history > .recap > .card > div:last-of-type {
  width: 5em;
  height: 5em;
  color: color-mix(in srgb, var(--text-primary) 50%, var(--text-secondary) 50%);
  border-radius: 50%;
  text-align: center;
}
